@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');


.backgroundContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  align-content: center; 

  
}

.SLContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;

  background: linear-gradient(117.81089044264013deg, rgb(86, 187, 215) 6.472719522591646%,rgb(148, 245, 211) 70.87851662404091%);
  width: auto;
  height: auto;
  padding: 5%;
  border-radius: 5px;
  box-shadow: 0 9px 30px rgba(172, 172, 172, 0.616);
  

}

.header {
  margin-top: 2%;
  margin-bottom: 2%;
  letter-spacing: 0.05em;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  color: #000000;
}

.flexItems {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}


.inputBox {
  width: 15rem;
  height: 2.8rem;

  margin-top: 5%;
  padding: 1rem;
  
  font-size: 1.1rem;
  font-family: 'Abel', sans-serif;
  color: #5E6472;

  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s linear;
  
}

.inputBox:focus {
    transform: translateX(-5px);
    border-radius: 5px;
}

.redirect {
  font-family: 'Abel', serif;
  font-size: 1.2rem;
  width: auto;
  font-size: 1rem;
}


.SLButton {
  color: #252537;
  font-size: 1.1rem;
  width: 7rem;
  height: 3rem;
  padding: 0 20px;
  background: #fff;
  border-radius: 5px;
  margin: 7% auto;
  letter-spacing: 0.05em;
  
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Playfair Display', serif;
}

.SLButton:hover {
  animation: fly 0.7s ease-in-out infinite;
}
@keyframes fly {
  0% {
      transform: translateY(3px);
  }
  100% {
      transform: translateY(6px);
  }
}


/* mobile devices mode */
@media only screen and (max-width: 600px) {
    .signupContainer {
      background-color: pink;
      height: 300px;
      width: 250px;
    }
  }


