.txtInputContainer {
    grid-area: 3 / 3 / 4 / 4;
    display: inline-flex;
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 7px;
    border: none;
    outline: none;
}

#txtInput {
    width: 91%;
    height: 87%;
    border: none;
    outline: none;
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    font-size: 1rem;
    
}

.sendIcon {
    margin: 0;
    width: 7.5%;
    height: 99%;
    border-radius: 0.5rm;
    background-size: 2rem 2rem;
    background: url('send.png');
    /* background-color: rgb(255, 255, 255, 0.2); */
    background-position:center;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    /* cursor:hover: {
      color: 'gray'
    } */ 
}
 .sendIcon:hover {
    background-color: rgb(255, 255, 255, 0.6);
    /* color: white; */
  }