.txtInputContainer {
    grid-area: 2 / 2 / 4 / 2;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.090);
    font-size: 14px;
    border-radius: 7px;
    border: none;
    outline: none;
}

#txtInput {
    width: 91%;
    height: 95%;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.4em;
}

.sendIcon {
    margin-top: auto;
    margin-bottom: auto;

    width: 4rem;
    height: 4rem;
    
    
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    /* cursor:hover: {
      color: 'gray'
    } */ 
}

h3.sendIcon {
    /* position: relative; */
    font-size: 1.2rem; 
    line-height: 3.5rem; 
    color: rgb(173, 42, 238);
    font-family: "Playfair", monospace;
    font-weight: bold;
}