.txtInputContainer {
  grid-area: 3 / 3 / 4 / 4;
  /* background-color: rgba(221, 53, 53, 0.712); */
  background-color: rgb(255, 255, 255, 0.2);
  border-radius: 7px;
  border: none;
  outline: none;
}
.txtInputContainerFlex {
  display: flex;
  /* flex-flow: column wrap; */
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  width: 100%;
  height: 100%;
}

#txtInput {
  width: 86%;
  height: 80%;
  border: none;
  outline: none;
  padding: 1%;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  font-size: 1rem;
}

.messSendBtn {
  width: 6%;
  /* height: 50%; */
  border-radius: 0.5rem;
  background-size: 2rem 2rem;
  background-image: url('../icons/sendIcon.png');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
}

.attachBtn {
  width: 6%;
  /* height: 99%; */
  border-radius: 0.5rem;
  background-size: 2rem 2rem;
  background-image: url('../icons/imageIcon.png');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition-duration: 0.3s;
}

.messSendBtn:hover, 
.attachBtn:hover {
 background-color: rgb(247, 207, 205);
}