@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700;900&display=swap');



.listOfChats {
    grid-area: 2 / 1 / 4 / 3; 
    /* background-color: rgb(255, 255, 255, 0.2); */
    margin-top: 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}


.chatListItem { 
    display: flex;
    flex-flow: row wrap; 
    margin: 0.5rem 0; 
    /* vertical-align: baseline; */
    height: 4.5rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    cursor: pointer;
} 

.chatListItem:hover {
    background-color: rgb(255, 255, 255, 0.8);
}

.avatar-circle {
    width: 21%;
    height: 70%;
    background-color: rgb(0, 110, 125);
    text-align: center;
    border-radius: 50%;
    margin-top: 5%;
    margin-left: 3%;
}
.initials {
    position: relative;
    font-size: 30px; 
    line-height: 2px; 
    color: rgb(255, 255, 255);
    font-family: "Playfair", monospace;
    font-weight: bold;
} 
.chatListItemText {
    position: relative;
    margin-left: 4%;
    /* margin-right: 1%; */
    width: 60%;
    line-height: 80%;
    color: rgb(6, 91, 93); 
    overflow-wrap: break-word;
    font-family: 'Abel', sans-serif;
    font-size: 1rem; 
}
#friendsEmail {
    font-weight: 600;
}


@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}

.unread {
    /* background-color: brown; */
    background-image: url('../icons/newmessage.png');
    position: relative;
    /* background: url('/Users/nataliayarysheva/projects/react-messenger/src/icons/newmessage.png') no-repeat; */
    /* width: %; */
    background-position:center;
    background-repeat:no-repeat;
    background-size:80%;
    border: none;
    color: transparent;
    animation: blink 2s ease-in-out infinite;
}
