.chatBoard {
    grid-area: 1 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 94%;
    height: 94%;
    margin: 3%;
    overflow-y: scroll; 
    overflow-wrap: break-word;  
} 

.userMess {
    align-self: flex-end;    
    position: relative;
    max-width: 50%;
    background-color: rgb(255, 255, 255);
    padding: 1.3%;
    margin: 1%;
    border-radius: 0.5em;
    font-size: 1.2rem;
}

.friendMess {
    background-color: #F6D3D1;
    padding: 1.3%;
    margin: 1%;
    border-radius: 0.5em;
    flex: 1 1px;
    align-self: flex-start;    
    max-width: 50%;
    font-size: 1.2rem;
}

.imgMessage {
    align-items: center;
    width: 100%;
    padding-right: 1.2%;
} 

.fullSizePic {
    width:max-content;
}

.imgMessage:hover{
    cursor: pointer;
}

.docMessage {
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .chatBoard {
        grid-area: 2 / 1 / 3 / 5;
    }
}

