#font {
    font-size: 18px;
}

.chatBoard {
    /* font-size: 1em; */
    background-color: rgb(112, 88, 134);
    width: 50em;
    height: 30em;
    overflow-y: scroll;
    overflow: auto;
} 

.userMess {
    background-color: rgb(255, 255, 255);
    padding: 0.5em 0.8em;
    margin: 0.8em 1.7em;
    border-radius: 0.5em;
    position: relative;
    float: right;
    clear: both;
}
.friendMess {
    background-color: rgb(18, 197, 108);
    padding: 0.5em 0.8em;
    margin: 0.8em 1.7em;
    border-radius: 0.5em;
    position: relative;
    float: left;
    clear: both;
}

