#font {
    font-size: 18px;
}

.chatBoard {
    grid-area: 1 / 2 / 2 / 2;
    background-color: rgb(125, 10, 231);
    width: 99.4%;
    height: 100%;
    overflow-y: scroll;
    overflow: auto;
} 

.userMess {
    background-color: rgb(255, 255, 255);
    padding: 0.5em 0.8em;
    margin: 0.8em 1.7em;
    border-radius: 0.5em;
    position: relative;
    float: right;
    clear: both;
}
.friendMess {
    background-color: rgb(18, 197, 108);
    padding: 0.5em 0.8em;
    margin: 0.8em 1.7em;
    border-radius: 0.5em;
    position: relative;
    float: left;
    clear: both;
}

