.newChatContainer {
  grid-area: 1 / 3 / 3 / 4; 
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: center; 
}

.submitForm {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.5);
  width: 50%;
  height: 35%;
  padding: 2%;
  border-radius: 10px;
}

.userInput {
  width: 90%;
  height: 10%;
  border-radius: 10px;
  border-style: none;
  margin: 2%;
  padding: 4%;
  font-size: 1rem;
}

.userInput:focus {
  outline-color: rgba(211, 211, 211, 0.884)
}

.newChatBtn {
  background-image: url('../icons/send_256.png');
  width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-size: 1.5rem 1.5rem;
  background-color: rgb(255, 255, 255, 0.7);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
}

.newChatBtn:active{
  cursor: pointer;
  background-color:  rgb(157, 157, 157)
}
.newChatBtn:focus { outline: none; }
.newChatBtn:hover{ background-color: rgb(255, 255, 255); }

@media only screen and (max-width: 767px) {
  .newChatContainer {
    grid-area: 2 / 1 / 4 / 5;
  }
  .submitForm {
    width: 90%;
    height: 50%;
    margin-top: 3%;
  }
  .newChatBtn {
    width: 20%;
    height: 15%;
  }
  .newChatBtn:focus {
    background-color: rgb(255, 255, 255, 0.7);
  }
}