.mainContainer {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.signupContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: rgb(210, 210, 210);
    height: 450px;
    width: 400px;
}


/* mobile devices mode */
@media only screen and (max-width: 600px) {
    .signupContainer {
      background-color: pink;
      height: 300px;
      width: 250px;
    }
  }


